<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.work.multitenencydatabase.demo.mapper.EmployeeMapper">
    <select id="findAll" resultType="my.work.multitenencydatabase.demo.dto.EmployeeDto">
        SELECT * FROM employee
    </select>
</mapper>